# 01 â€“ Data Overview
Initial inspection of the Sri Lanka house price dataset.

In [1]:
import pandas as pd

df = pd.read_csv("../data/raw/house_prices_srilanka.csv")
df.head()

,district,area,perch,bedrooms,bathrooms,kitchen_area_sqft,parking_spots,has_garden,has_ac,water_supply,electricity,floors,year_built,price_lkr
0,Polonnaruwa,Polonnaruwa Central,14,5,4,112,2,False,False,Pipe-borne,Single phase,1,2022,16236332
1,Matale,Matale Central,26,7,5,250,2,True,False,Both,Single phase,3,1987,33907509
2,Mullaitivu,Mullaitivu Central,7,3,2,77,2,True,True,Well,Single phase,1,1988,5954312
3,Anuradhapura,New Town,2,2,2,39,1,True,True,Both,Three phase,2,2024,5177534
4,Batticaloa,Batticaloa Town,20,5,4,117,1,True,True,Well,Single phase,1,1995,20182409

In [2]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20000 entries, 0 to 19999
Data columns (total 14 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   district           20000 non-null  object
 1   area               20000 non-null  object
 2   perch              20000 non-null  int64
 3   bedrooms           20000 non-null  int64
 4   bathrooms          20000 non-null  int64
 5   kitchen_area_sqft  20000 non-null  int64
 6   parking_spots      20000 non-null  int64
 7   has_garden         20000 non-null  bool
 8   has_ac             20000 non-null  bool
 9   water_supply       20000 non-null  object
 10  electricity        20000 non-null  object
 11  floors             20000 non-null  int64
 12  year_built         20000 non-null  int64
 13  price_lkr          20000 non-null  int64
dtypes: bool(2), int64(8), object(4)
memory usage: 1.9+ MB

In [3]:
df.describe()

,perch,bedrooms,bathrooms,kitchen_area_sqft,parking_spots,floors,year_built,price_lkr
count,20000.000000,20000.000000,20000.000000,20000.000000,20000.000000,20000.000000,20000.000000,2.000000e+04
mean,11.510500,3.901600,3.171650,113.718800,1.141100,1.557150,2004.926550,1.598142e+07
std,8.519719,1.839426,1.530883,69.801873,0.939167,0.628135,11.817353,1.338156e+07
min,2.000000,1.000000,1.000000,35.000000,0.000000,1.000000,1985.000000,1.500000e+06
25%,5.000000,2.000000,2.000000,53.000000,0.000000,1.000000,1995.000000,6.591047e+06
50%,10.000000,4.000000,3.000000,95.000000,1.000000,1.000000,2005.000000,1.206384e+07
75%,16.000000,5.000000,5.000000,161.000000,2.000000,2.000000,2015.000000,2.096723e+07
max,80.000000,7.000000,5.000000,250.000000,3.000000,3.000000,2025.000000,1.500321e+08

In [4]:
df.isnull().sum()

district             0
area                 0
perch                0
bedrooms             0
bathrooms            0
kitchen_area_sqft    0
parking_spots        0
has_garden           0
has_ac               0
water_supply         0
electricity          0
floors               0
year_built           0
price_lkr            0
dtype: int64

In [ ]:
print("Dataset shape:", df.shape)
print("Duplicate rows:", df.duplicated().sum())
print("Unique districts:", df['district'].nunique())
print("Unique areas:", df['area'].nunique())